body {
    background-image: url('foto/galaxy.jpg');
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
  }


.rotate{
    position:absolute;
    width : 10vh;
    top: 84vh;
    left: 167vh;
    animation: rotate 3s infinite linear;

}

@keyframes rotate {
    0%   { -webkit-transform: rotate(0deg); }
    15%  { -webkit-transform: rotate(130deg); }
    30%  { -webkit-transform: rotate(260deg); }
    50%  { -webkit-transform: rotate(310deg); }
    60%  { -webkit-transform: rotate(400deg); }
    80%  { -webkit-transform: rotate(500deg); }
    100% { -webkit-transform: rotate(720deg); }
}

.wlcText{
    text-align: center;
}

#wlcJourney{
    display: inlineblock;
    text-decoration-line: underline;
    color:rgb(131, 176, 48) 
    
}

#wlcTxt{
    color:rgb(131, 176, 48);
    font-size: 4.5vh;
    font-family: 'Russo One', sans-serif;
}



.btn{
    position:absolute;
    margin-left: 80vh;
    top: 79vh;
    background-image:url(foto/galaxy.jpg) ;
    font-size: x-large;
    line-height: 7vh;
    text-align: center;
    position: absolute;
    border-radius: 50vh;
    border-color:white;
    height: 7vh;
    width: 30vh;
    text-shadow: 4vh;
    color: wheat;
    text-decoration: none;

}